<!DOCTYPE html>
<html>
    <head>
        <title>Главная</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
    <a href="http://127.0.0.1:5000/hotels">Список отелей</a>
    <a href="http://127.0.0.1:5000/form">Добавить отель</a>
    <h1>Главная страница</h1>
    <h2>Выпускная аттестационная работа</h2>
    <p> Разработка web-приложения «Путешествия».
        Используемые библиотеки: Flask, Flask-WTF, Flask-SQLAlchemy </p>
        <!-- Вывод изображения -->
        <img class="big_img" src="static\img\dostoprimechatelnosti.jpg"
    </body>
</html>